<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/home.css" />
        <title>Shining Stars Academy</title>
    </head>
    <body>
        <div class="home">
            <div class="school-name">Shining Stars Academy</div>
            <div class="img-container">
                <img src="/images/school/logo-big.jpg" alt="School Logo" />
            </div>
            <div class="sign-btn">
                <a href="/signin"><button>Sign In</button></a>
            </div>
        </div>
    </body>
</html>
