<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/styles/signIn.css" />
        <title>SignIn</title>
    </head>
    <body>
        <div class="page-heading"><span> Sign In </span></div>
        <div class="form-container">
            <form class="form">
                <div class="username-container">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter Username"
                    />
                </div>

                <div class="password-container">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter Password"
                    />
                </div>
                <!-- <div class="submit-container">
                   <input type="submit" value="Submit">
                </div> -->
                <div class="submit-container">
                    <button id="submit">Log In</button>
                </div>
            </form>
        </div>
    </body>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script>
        const login = async (username, password) => {
            console.log("i am in");
            try {
                const res = await axios({
                    method: "POST",
                    url: "http://localhost:8000/signin",
                    data: {
                        username,
                        password,
                    },
                });
                if (res.data.status === "success") {
                    window.setTimeout(() => {
                        location.assign("/grades");
                    }, 100);
                }
            } catch (err) {
                console.log(err);
            }
        };

        document.querySelector(".form").addEventListener("submit", (event) => {
            event.preventDefault();
            const username = document.querySelector("#username").value;
            const password = document.querySelector("#password").value;
            login(username, password);
        });
    </script>
</html>
