<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update Grade Fee</title>
        <style>
            body {
                padding: 2.5rem;
            }
            input {
                margin: 0.75rem;
            }
        </style>
    </head>

    <body>
        <form action="/updateGradeFee/<%= grade %>" method="POST">
            
            <label for="admission">Admission : </label>
            <input type="text" name="admission" id="admission" />
            <br />
            <label for="computer">Computer : </label>
            <input type="text" name="computer" id="computer" />
            <br />
            <label for="exam">Examination : </label>
            <input type="text" name="exam" id="exam" />
            <br />
            <label for="stationery">Stationery : </label>
            <input type="text" name="stationery" id="stationery" />
            <br />
            <label for="tution">Tution : </label>
            <input type="text" name="tution" id="tution" />
            <br />
            <label for="development">Development : </label>
            <input type="text" name="development" id="development" />
            <br />
            <label for="exam">Exam : </label>
            <input type="text" name="exam" id="exam" />
            <br />
            <label for="transport">Transport : </label>
            <input type="text" name="transport" id="transport" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
