.button-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.forms-container {
    padding: 3rem 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.form-container {
    padding: 1rem 0.25rem;
    width: 15rem;
    border: 2px solid slategray;
    text-align: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-container:hover {
    /* cursor: pointer; */
}

.form__card-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.admission-class-menu {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* justify-content: center; */
    align-items: center;
}

.admission-class-menu h2 {
    font-size: 2rem;
}
